/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700,800,900|Open+Sans:300,400,400i,600,700,800");
/* Colors */
/*------------------------------------------------------------------
[Color Scheme / Colors, textures]
*/

/* Animated Title */
.cd-intro {
  width: 90%;
  max-width: 768px; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-weight: 300;
    left: 0;
    top: 0; }
  .cd-words-wrapper b.is-visible {
    position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: #cfcfcf; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline.clip b.is-visible {
  opacity: 1; }

